<div class="bookings">

    <section class="bookings-note">
        <div>
            <h2 translate="all_bookings"></h2>
            <hr class="h2-divider"/>
        </div>
    </section>

    <section class="bookings-table">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                {{type.name}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a ng-repeat="t in types" class="dropdown-item" href="#" ng-click="selectType(t)">{{t.name}}</a>
            </div>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th translate="booking_unit"></th>
                    <th translate="booking_date_from"></th>
                    <th translate="booking_date_to"></th>
                    <th translate="booking_name"></th>
                    <th translate="booking_surname"></th>
                    <th translate="booking_enquiry_time"></th>
                    <th translate="booking_phone_number"></th>
                    <th translate="booking_email"></th>
                    <th translate="booking_country"></th>
                    <th translate="booking_animals"></th>
                    <th translate="booking_no_of_people"></th>
                    <th translate="booking_note"></th>
                    <th translate="booking_total_price"></th>
                    <th translate="booking_approval_time" ng-if="type.id != 0"></th>
                    <th translate="booking_deposit_amount" ng-if="type.id == 2"></th>
                    <th translate="booking_deposit_currency" ng-if="type.id == 2"></th>
                    <th translate="booking_deposit_paid" ng-if="type.id == 2"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="b in bookings">
                    <td>{{b.unit}}</td>
                    <td>{{b.dateFrom}}</td>
                    <td>{{b.dateTo}}</td>
                    <td>{{b.enquiry.name}}</td>
                    <td>{{b.enquiry.surname}}</td>
                    <td>{{b.enquiryDttm}}</td>
                    <td>{{b.enquiry.phoneNumber}}</td>
                    <td>{{b.enquiry.email}}</td>
                    <td>{{b.enquiry.country}}</td>
                    <td>{{b.enquiry.animals}}</td>
                    <td>{{b.enquiry.noOfPeople}}</td>
                    <td>{{b.enquiry.note}}</td>
                    <td>{{b.totalPrice}}</td>
                    <td ng-if="type.id == 0" ng-click="approve(b.enquiryId)">Approve</td>
                    <td ng-if="type.id != 0">{{b.approvalDttm}}</td>
                    <td ng-if="type.id == 2">{{b.depositAmount}}</td>
                    <td ng-if="type.id == 2">{{b.depositCurrency}}</td>
                    <td ng-if="type.id == 2">{{b.depositWhen}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>