<div class="apartments" id="apartments">
    <div class="container" ng-if="isApartmentsPage()">
        <div>
            <h2 translate="apartments_blanka"></h2>
            <hr class="h2-divider"/>
            <p class="sec-desc" translate="apartments_desc"> </p>
        </div>
    </div>
    <div ng-repeat="app in apartments">
        <div class="clearfix" id="app{{$index}}"></div>
        <div class="list-overview" ng-click="setSelected($index)" analytics-on="click"
             ng-hide="selected == $index">
            <div class="col-md-12 col-sm-12 col-xs-12"
                 ng-style="{'background-image':'url(../img/' + app.image +')', height: '100%'}">
                <div class="overlay">
                    <div class="overview-content">
                        <span class="list-name">
                            <h2>{{app.title}}</h2>
                            <p><i class="fa fa-users"></i> {{app.bedsNo}}</p>
                        </span>
                    </div>
                    <div class="align-middle">
                        <a class="arrow-down"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="selected == $index">
            <div class="apt-details" id="{{app.name}}">
                <div>
                    <h1>{{app.title}}</h1>
                    <hr class="h2-header-divider"/>
                    <p class="sec-desc">{{app.subtitle}}</p>
                </div>
            </div>

            <div class="price">
                <div class="slide-in-position">
                    <h2 translate="pricing"></h2>
                    <hr class="h2-divider"/>
                    <p class="sec-desc" translate="value_apartment_per_day"></p>
                </div>

                <div>
                    <div class="col-md-1 col-sm-1 col-xs-0">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6" ng-repeat="range in pricing">
                        <h2 class="price-h2">{{range.appPrice[app.apartmentId]}}€</h2>
                        <span class="title">{{range.from | date:'d.M'}} - {{range.to | date:'d.M'}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="total" ng-if="!isApartmentsPage()">
                    <p class="sec-desc" translate="grand_total"
                       translate-values='{from: "{{$parent.result.fromDate | date:"d.M"}}", to: "{{$parent.result.toDate | date:"d.M"}}"}'></p>

                    <h1 class="total-price">€{{app.price}}</h1>
                </div>

                <div class="availability-calendar" ng-if="showCalendars">
                    <datepicker ng-model="dt" show-weeks="false" class="well well-sm" datepicker-options="dateOptions"
                                datepicker-mode="'doubleday'"
                                number-of-months="3" starting-day="1" custom-class="getDayFromClass(date)"></datepicker>
                    <!--number-of-months="3" starting-day="1" custom-class="getDayFromClass(date)" jm-dp-refresh-view="promise"></datepicker>-->
                </div>

                <div class="book-now">
                    <input type="submit" ng-click="openBooking($index)" translate translate-attr-value="book_now"
                           class="form-control submit submit-button" analytics-on="click">
                </div>

                <div ng-if="showBooking == $index" data-ng-include="'/web/booking/booking.html'"
                     ng-controller="BookingController"></div>
            </div>

            <div class="clearfix"></div>

            <div class="images-preview">

                <div class="my-simple-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"
                            analytics-on="click"
                            ng-repeat="image in app.previewImages" class="col-md-4 nopadding gallery-item"
                            photo-swipe-ready size="{{app.previewImages.length}}" number="{{$index}}"
                            ng-show="{{image.show}}">
                        <a ng-href="img/{{image.big}}" itemprop="contentUrl"
                           width="{{image.width}}" height="{{image.height}}">
                            <div ng-if="image.show">
                                <img ng-src="img/{{image.small}}" itemprop="thumbnail"
                                     alt="{{image.title}}">
                            </div>
                            <div class="overlay">
                                <div class="overlay-meta">
                                    <h3>{{image.title}}</h3>
                                    <span class="caption">{{image.desc}}</span>
                                </div>
                            </div>
                        </a>
                    </figure>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="amenities-section">
                <div class="slide-in-position">
                    <h2 translate="amenities"></h2>
                    <hr class="h2-divider"/>
                    <p class="sec-desc" translate="amenities_desc"></p>
                </div>
                <div>
                    <div class="col-md-4 col-ms-4 col-xs-4 amenities left">
                        <div class="circle-house"></div>

                        <h3 translate="facilities"></h3>
                        <br/>

                        <p translate="bedroom" translate-values='{ number: "<b>{{app.bedroomNo}}</b>"}'></p>

                        <p translate="bathroom" translate-values='{ number: "<b>1</b>"}'></p>

                        <p translate="beds" translate-values='{ number: "<b>{{app.bedsNo}}</b>"}'></p>

                        <p translate="guests" translate-values='{ number: "<b>{{app.questsNo}}</b>"}'></p>

                    </div>
                    <div class="col-md-4 col-ms-4 col-xs-4 amenities">
                        <div class="circle-sun"></div>

                        <h3 translate="services"></h3>
                        <br/>

                        <p translate="free_wifi"></p>

                        <p translate="air_conditioning"></p>

                        <p translate="flat_screen"></p>

                        <p translate="kitchen_microwave"></p>

                    </div>
                    <div class="col-md-4 col-ms-4 col-xs-4 amenities right">
                        <div class="circle-star"></div>

                        <h3 translate="extras"></h3>
                        <br/>

                        <p translate="pets"></p>

                        <p translate="smoking"></p>

                        <p translate="sea_view"></p>

                    </div>
                </div>
            </div>

            <div ng-click="setSelected($index)" class="close-field"><div class="close-icon"></div></div>
        </div>
    </div>

    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>

</div>
<script type="text/javascript">

    var initPhotoSwipeFromDOM = function (gallerySelector) {

        // parse slide data (url, title, size ...) from DOM elements
        // (children of gallerySelector)
        var parseThumbnailElements = function (el) {
            var thumbElements = el.childNodes,
                    numNodes = thumbElements.length,
                    items = [],
                    figureEl,
                    linkEl,
                    item;

            for (var i = 0; i < numNodes; i++) {


                figureEl = thumbElements[i]; // <figure> element

                // include only element nodes
                if (figureEl.nodeType !== 1) {
                    continue;
                }

                linkEl = figureEl.children[0]; // <a> element

//                size = linkEl.getAttribute('data-size').split('x');

                // create slide object
                item = {
                    src: linkEl.getAttribute('ng-href'),
//                    w: parseInt(size[0], 10),
//                    h: parseInt(size[1], 10)
                    w: linkEl.getAttribute('width'),
                    h: linkEl.getAttribute('height')
                };


                if (figureEl.children.length > 1) {
                    // <figcaption> content
                    item.title = figureEl.children[1].innerHTML;
                }

                if (linkEl.children.length > 0) {
                    // <img> thumbnail element, retrieving thumbnail url
                    item.msrc = linkEl.children[0].getAttribute('ng-src');
                }

                item.el = figureEl; // save link to element for getThumbBoundsFn
                items.push(item);
            }

            return items;
        };

        // find nearest parent element
        var closest = function closest(el, fn) {
            return el && ( fn(el) ? el : closest(el.parentNode, fn) );
        };

        // triggers when user clicks on thumbnail
        var onThumbnailsClick = function (e) {
            e = e || window.event;
            e.preventDefault ? e.preventDefault() : e.returnValue = false;

            var eTarget = e.target || e.srcElement;

            var clickedListItem = closest(eTarget, function (el) {
                return (el.tagName && el.tagName.toUpperCase() === 'FIGURE');
            });

            if (!clickedListItem) {
                return;
            }


            // find index of clicked item
            var clickedGallery = clickedListItem.parentNode,
                    childNodes = clickedListItem.parentNode.childNodes,
                    numChildNodes = childNodes.length,
                    nodeIndex = 0,
                    index;

            for (var i = 0; i < numChildNodes; i++) {
                if (childNodes[i].nodeType !== 1) {
                    continue;
                }

                if (childNodes[i] === clickedListItem) {
                    index = nodeIndex;
                    break;
                }
                nodeIndex++;
            }


            if (index >= 0) {
                openPhotoSwipe(index, clickedGallery);
            }
            return false;
        };

        var openPhotoSwipe = function (index, galleryElement, disableAnimation) {
            var pswpElement = document.querySelectorAll('.pswp')[0],
                    gallery,
                    options,
                    items;

            items = parseThumbnailElements(galleryElement);

            // define options (if needed)
            options = {
                index: index,

                // define gallery index (for URL)
                galleryUID: galleryElement.getAttribute('data-pswp-uid'),

                getThumbBoundsFn: function (index) {
                    // See Options -> getThumbBoundsFn section of docs for more info
                    var thumbnail = items[index].el.getElementsByTagName('img')[0], // find thumbnail
                            pageYScroll = window.pageYOffset || document.documentElement.scrollTop,
                            rect = thumbnail.getBoundingClientRect();

                    return {x: rect.left, y: rect.top + pageYScroll, w: rect.width};
                },

                // history & focus options are disabled on CodePen
                // remove these lines in real life:
                history: false,
                focus: false

                //,
                //  showHideOpacity:true

            };

            if (disableAnimation) {
                options.showAnimationDuration = 0;
            }

            // Pass data to PhotoSwipe and initialize it
            gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
            gallery.init();
        };

        // loop through all gallery elements and bind events
        var galleryElements = document.querySelectorAll(gallerySelector);

        for (var i = 0, l = galleryElements.length; i < l; i++) {
            galleryElements[i].setAttribute('data-pswp-uid', i + 1);
            galleryElements[i].onclick = onThumbnailsClick;
        }

    };

    // execute above function

</script>