<div class="booking-form" id="bookingForm">

    <div class="form-height">
        <form name="bookingForm" ng-hide="success">
            <div class="row">
                <span>
                    <input type="text" class="basic-slide" datepicker-popup="dd-MMMM-yyyy" ng-model="booking.dateFrom"
                           is-open="calendar.fromOpened" datepicker-options="dateOptions" datepicker-mode="'day'"
                           close-text="Close" id="from" ng-required="true" custom-class="getDayFromClass(date)"
                           date-disabled="getDateDisabled(date)" ng-if="showCalendars"/>
                    <label for="from" class="calendar" ng-click="open($event, 'from')"></label>
                </span>

                <span>
                    <input type="text" class="basic-slide" datepicker-popup="dd-MMMM-yyyy" ng-model="booking.dateTo"
                           is-open="calendar.toOpened" datepicker-options="dateOptions" min-date="booking.dateFrom"
                           close-text="Close" id="to" ng-required="true" custom-class="getDayToClass(date)"
                           date-disabled="getDateDisabled(date)" ng-if="showCalendars" datepicker-mode="'day'"/>
                    <label for="to" class="calendar" ng-click="open($event, 'to')"></label>
                </span>
                <span class="empty"></span>

            </div>

            <div class="row">
                <span>
                    <input class="basic-slide" id="name" type="text" translate translate-attr-placeholder="booking_name_placeholder" ng-model="booking.name"/>
                    <label for="name" translate="booking_name"></label>
                </span>
                <span>
                    <input class="basic-slide" id="surname" type="text" translate translate-attr-placeholder="booking_surname_placeholder"
                           ng-model="booking.surname"/>
                    <label for="surname" translate="booking_surname"></label>
                  </span>
                <span class="empty"></span>
            </div>
            <div class="row">
            <span>
                <input class="basic-slide" id="email" type="text" translate translate-attr-placeholder="booking_name_placeholder"
                       ng-model="booking.email" ng-required="true"/>
                <label for="email" translate="booking_email"></label>
              </span>

            <span>
                <input class="basic-slide" id="phone-number" type="text" translate translate-attr-placeholder="booking_phone_number_placeholder"
                       ng-model="booking.phoneNumber"/>
                <label for="phone-number" translate="booking_phone_number"></label>
              </span>
                <span class="empty"></span>

            </div>
            <div class="row">
            <span>
                <input class="basic-slide" id="animals" type="text" translate translate-attr-placeholder="booking_animals_placeholder"
                       ng-model="booking.animals"/>
                  <label for="animals" translate="booking_animals"></label>
              </span>

            <span>
                <input class="basic-slide" id="numberOfPeople" type="text" translate translate-attr-placeholder="booking_no_of_people_placeholder"
                       ng-model="booking.noOfPeople"/>
                  <label for="numberOfPeople" translate="booking_no_of_people"></label>
              </span>
            <span>
                <input class="basic-slide" id="special-requests" type="text" translate translate-attr-placeholder="booking_note_placeholder"
                       ng-model="booking.note"/>
                  <label for="special-requests" translate="booking_note"></label>
              </span>
            </div>
            <div class="row">
            <span>
                <input type="submit" translate translate-attr-value="booking_submit" ng-click="sendBooking()"
                       class="form-control submit submit-button">
                <span class="col-md-1">
                    <i class="fa fa-spinner fa-pulse fa-3x" ng-show="sending"></i>
                </span>
            </span>

            </div>
        </form>
        <div ng-show="success" class="success">

            <h1 translate="booking_thank_you"></h1>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

            <p translate="booking_confirmation"></p>

            <p translate="booking_great_stay"></p>

        </div>
    </div>
</div>