<div class="container">

    <div range-slider min="0" max="difference" model="result" step="100000" label-months="selectedMonths" analytics-on="click"></div>

    <div class="carousel col-md-12" data-mixed="" analytics-on="click" ng-if="showSlider">
        <a class="prev" data-prev=""></a>
        <ul id="slider-month">

            <li number="{{$index}}" ng-repeat="month in months" ng-element-ready size="{{months.length}}"
                parent-id="slider-month">
                <div>{{month | date:'MMMM' }}</div>
            </li>
        </ul>
        <a class="next" data-next="" style="display: inline;"></a>
    </div>

</div>