<div class="home">

    <div class="one-page">
        <div class="main-content">
            <div class="slider-header">
                <h1 translate="when_planning_stay">When are you planing to stay?</h1>
            </div>
            <br/>
            <br/>

            <div class="clearfix"></div>

            <section data-ng-include="'/web/home/partials/slider.html'" class="slider"></section>

            <br/>
            <br/>

            <h2 translate="thats_night"
                translate-values='{ duration: "<b>{{duration}}</b>"}'></h2>
        </div>
        <div class="search-results" ng-click="scrollToApartments()" analytics-on="click">
            <div class="table-align">
                <h2 ng-if="apartmentsAvailable > 1" translate="apartments_available_many"
                    translate-values='{ duration: "<b>{{apartmentsAvailable}}</b>"}'></h2>

                <h2 ng-if="apartmentsAvailable == 1" translate="apartments_available_one"
                    translate-values='{ duration: "<b>{{apartmentsAvailable}}</b>"}'></h2>

                <h2 ng-if="apartmentsAvailable == 0" translate="no_apartments_available"></h2>

                <div class="clearfix"></div>
                <h3 class="show_all"><a href="/apartments" analytics-on="click"><p translate="show_all"></p></a></h3>
            </div>
            <div class="align-middle">
                <a class="arrow-down" ng-if="apartmentsAvailable > 0"></a>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <section data-ng-include="'web/apartments/apartments.html'"
             ng-controller="ApartmentsController"></section>

</div>