<div class="survey">
    <div>
        <iframe src="//fluidsurveys.com/surveys/reeebuuk/apartments-blanka-survey/?_embed=8299" frameborder="0"
                style="border: none; zoom: 1; width:100%;" id="hr" ng-if="currentLanguage == 'hr'"
                resize-ready></iframe>
        <iframe src="//fluidsurveys.com/surveys/reeebuuk/apartments-blanka-slovenian/?_embed=8419" frameborder="0"
                style="border: none; zoom: 1; width:100%;" id="en" ng-if="currentLanguage == 'en'"
                resize-ready></iframe>
    </div>
</div>