<div class="contact">

    <section class="contact-note">
        <div>
            <h2 translate="lets_talk"></h2>
            <hr class="h2-divider"/>
            <p class="sec-desc" translate="fill_out_form"></p>
        </div>
    </section>

    <section class="contact-input">
        <div class="container">
            <div class="col-md-8 col-xs-12">
                <div class="bg-success" ng-show="success">
                    <button type="button" class="close" aria-label="Close" ng-click="hideAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p translate="message_send"></p>
                </div>
                <div class="bg-danger" ng-show="error">
                    <button type="button" class="close" aria-label="Close" ng-click="hideAlert()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p translate="message_not_send"></p>
                </div>

                <h2 translate="get_in_touch" class="contact-header"></h2>

                <form name="contactForm">
                    <div class="col-md-6 input-field">
                        <input type="text" translate translate-attr-placeholder="name_placeholder" name="name" size="40" class="form-control" aria-required="true"
                               aria-invalid="false" ng-model="message.name">
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-6 input-field">
                        <input type="email" translate translate-attr-placeholder="email_placeholder"  size="40" class="form-control"
                               name="email" ng-model="message.email" ng-class="{'form-control not-valid': contactForm.email.$error.email,
                               'form-control valid': !contactForm.email.$error.email}">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-12 input-field">
                   <textarea translate translate-attr-placeholder="message_placeholder" cols="40" rows="10" class="form-control"
                             aria-required="true" aria-invalid="false" ng-model="message.text" name="text" >
                   </textarea>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Send your message" ng-click="sendMessage()"
                               class="form-control submit submit-button" translate translate-attr-value="submit_message">
                    </div>
                    <div class="col-md-1">
                        <i class="fa fa-spinner fa-pulse fa-3x" ng-show="sending"></i>
                    </div>
                </form>
            </div>
            <div class="col-md-4 col-xs-12">
                <h2 translate="other_way_to_reach_us"></h2>
                <hr class="h2-divider-left"/>
                <div class="clearfix"></div>

                <p>
                    Telephone: <b>+353 83 181 6162</b> <br/>
                    Telephone: <b>+385 98 968 6428</b> <br/>
                    <br/>

                    Email: <a href="mailto:kruno@apartments-blanka.com.hr?Subject=Apartments%20Blanka" target="_top">blanka@apartments-blanka.com.hr</a>
                </p>

            </div>
        </div>
    </section>
</div>